<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.activity.mybroadcastreceiver">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.test.activity.MainActivity"></activity>

        <activity android:name="com.test.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AnotherMyBroadcastReceiver">
            <intent-filter android:priority="200">
                <action android:name="com.activity.test.broadcast.MY_BROADCAST"></action>
            </intent-filter>
        </receiver>
        <receiver android:name=".ForceOfflineBroadcastReceiver">
            <intent-filter>
                <action android:name="com.test.activity.broadcast.OFFLINE_BROADCAST"></action>
            </intent-filter>
        </receiver>

        <activity android:name="com.test.activity.TestContentProviderActivity"></activity>
        <provider
            android:name="com.test.activity.TestContentProvider"
            android:authorities="com.test.activity.provider"
            android:exported="true"></provider>
    </application>

</manifest>